.myhki-koro {
  background-size: contain;
  background-position-x: center !important;

  &-vertical {
    background-position-x: left !important;
    background-position-y: top;
    background-size: contain;
  }
  &-footer {
    height: 35px;
    margin-bottom: -1px;
  }
}
