.myhki-staff-block {
  position: relative;
  padding: 0 30px;
  margin: 20px 0;

  @include breakpoint(medium up) {
    padding: 0 15%;
  }

  + .myhki-staff-block {
    margin-top: 40px;

    @include breakpoint(medium up) {
      margin-top: 70px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  &__details{
    font-size: 14px;
    text-align: left;
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
  }
}
