.myhki-text-carousel {
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    order: 1;
    font-size: 37px;
    font-weight: bold;
    line-height: 1.0;
    text-align: center;
    margin: 0 0 40px;

    @include breakpoint(medium) {
      font-size: 45px;
    }
  }

  &__controls {
    position: relative;
    order: 3;
    z-index: 3;
    padding: 0 16px;
    margin-top: 58px;
    width: 100%;
    text-align: center;
  }

  &__control {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid $hel-black;
    border-radius: 50%;
    margin-right: 6px;

    &--active {
      background-color: $hel-black;
    }
  }

  &__slide {
    display: flex;
    justify-content: space-around;
    height: 100%;
    word-break: break-word;

    .myhki-text-carousel-item {
      width: 40%;

      &:only-child() {
        width: 80%;
      }
    }
  }

  &__carousel {
    position: relative;
    order: 2;
  }

  &__carousel-arrow {
    top: 50%;
    margin-top: 0;
  }

  .carousel {
    overflow: visible;
    &:hover {
      .control-arrow {
        opacity: 1;
      }
    }

    .carousel-slider {
    }

    .slider {
      margin: 0;
    }

    .control-arrow {
    }
  }

  &--slides-1 {
    .carousel .control-arrow {
      display: none;
    }

    .myhki-text-carousel {
      &__controls {
        display: none;
      }
    }
  }
}

.myhki-text-carousel-item {
  &__big-text {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
    color: #00d9af;
    @include breakpoint(medium up) {
      font-size: 90px;
    }
  }

  &__title {
    font-size: 17.5px;
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    color: #525a66;
  }

  &__source {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #525a66;
    text-transform: uppercase;
    margin-top: 25px;
  }
}
