@import '../normilize';

.myhki-show-more {
  display: flex;
  flex-direction: column;

  &__body {
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    position: relative;
  }

  &__line-end {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    display: none;
  }

  &:not(.myhki-show-more--open) {
    p {
      margin: 0;
    }
  }

  &__read-more {
    @extend .button-reset;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #e22320;
    margin-top: 18px;
    display: inline-block;
    visibility: hidden;
    text-align: inherit;
    cursor: pointer;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #e22320;
      display: inline-block;
      margin-left: 5px;
      transform: rotate(0);
    }
  }

  &--overflows {
    .myhki-show-more {
      &__read-more {
        visibility: visible;
      }

      &__line-end {
        display: block;
      }
    }
  }

  &--open {
    .myhki-show-more {
      &__body {
        height: auto;
        -webkit-line-clamp: initial;
      }

      &__read-more {
        visibility: visible;

        &:after {
          transform: rotate(180deg);
        }
      }

      &__line-end {
        display: none;
      }
    }
  }
}
