.checkbox {

  &__label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.2;
    padding-left: 40px;
    @include breakpoint(medium up) {
      padding-left: 50px;
    }
  }

  &__input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 0;
    display: inline-block;
  }

  &__status {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: 2px solid currentColor;

    &::after {
      content: "";
      display: inline-block;
      border: solid $hel-bus;
      border-width: 0 3px 3px 0;
      opacity: 0;
      transform: rotate(45deg);
      width: rem-calc(6);
      height: rem-calc(11);
      position: absolute;
      bottom: rem-calc(2);
      left: rem-calc(3);
    }
  }

  &--checked {
    .checkbox__status {
      &::after {
        opacity: 1;
      }
    }
  }

  &--error {
    color: $hel-metro;
  }
}
