.subpage--generic {
  .myhki-photo-grid {
    margin: 100px 0 0;
  }

  .myhki-simple-quote {
    margin: 100px 0 0;
  }

  .myhki-card-list {
    margin-top: 100px;
  }

  .myhki-video-carousel {
    margin: 100px 0 0;
  }

  .myhki-big-card-list {
    margin: 40px 0 0;
  }

  .myhki-lift-up-simple {
    margin-top: 70px;
  }

  .myhki-lift-up-collection {
    margin-top: 60px;
  }

  .myhki-grid-card-list {
    margin-top: 45px;
  }
}
