body {
  margin: 0;
  font-family: HelsinkiGrotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: HelsinkiGrotesk;
}

.rns .rns-plugin .rns-shares .rns-share {
  padding: 0 .2rem .4rem !important;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cookie-banner {
  padding: 32px 40px;
}

@media only screen and (max-width: 764px) {
  .cookie-banner {
    padding: 16px;
  }
}