:root {
  --max-width: 1440px;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  line-height: var(--lineheight-m);
}

body {
  background: var(--color-white);
  color: var(--color-black-90);
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul, ol {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  padding-top: 0;
  padding-left: var(--spacing-s);
  list-style-position: outside;
}

li {
  padding-left: var(--spacing-m);
}

ul li::marker {
  color: var(--color-metro);
}

li li::marker {
  color: var(--color-black-90);
}

a.link-internal,
a.link-external {
  display: inline-flex;
}

a.link-internal::after,
a.link-external::after {
  content: '';
  margin-left: var(--spacing-3-xs);
  transition: transform .2s linear;
  width: 1.25rem;
}

.link-internal::after {
  margin-right: var(--spacing-2-xs);
  background: url('../src/assets/arrow-right.svg') no-repeat center center;
}

.link-external::after {
  margin-right: var(--spacing-3-xs);
  background: url('../src/assets/arrow-top-right.svg') no-repeat center center;
}

.link-internal:hover::after {
  transform: translateX(8px);
}

.link-external:hover::after {
  transform: translate(4px, -4px);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.columns {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-order-first {
  order: -1;
}



@media (min-width: 768px) {
  body {
    font-size: var(--fontsize-body-l);
  }

  .columns {
    flex-direction: row;
  }

  .col {
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33%;
  }

  .col-5 {
    width: 58%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 42%;
  }

  .col-8 {
    width: 67%;
  }

  .col-9 {
    width: 75%;
  }

  .col-12 {
    width: 100%;
  }

  .content .link-item {
    width: calc(50% - var(--spacing-l));
  }
}

@media (min-width: 576px) {
  .col {
    margin-left: var(--spacing-s);
    margin-right: var(--spacing-s);
  }
}

.col {
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

main h1.small, main .h1-small,
.small-text main h1, .small-text main .h1,
main h1, main .h1 {
  font-size: var(--fontsize-heading-l);
  line-height: var(--lineheight-m);
}

h2.small, .h2-small,
h2, .h2,
.small-text h2, .small-text .h2 {
  font-size: var(--fontsize-heading-m);
  line-height: var(--lineheight-m);
}

h3.small, .h3-small,
h3, .h3,
.small-text h3, .small-text .h3  {
  font-size: var(--fontsize-heading-s);
  line-height: var(--lineheight-m);
}

h4.small, .h4-small,
h4, .h4,
.small-text h4, .small-text .h4 {
  font-size: var(--fontsize-heading-xs);
  line-height: var(--lineheight-m);
}

h6, .h6, h5.small, .h5-small,
h5, .h5,
.small-text h5, .small-text .h5 {
  font-size: var(--fontsize-heading-xxs);
  line-height: var(--lineheight-m);
}

@media (min-width: 768px) {
  main h1, main .h1 {
    font-size: var(--fontsize-heading-xl);
    line-height: var(--lineheight-m);
  }

  h2, .h2 {
    font-size: var(--fontsize-heading-l);
    line-height: var(--lineheight-m);
  }

  h3, .h3 {
    font-size: var(--fontsize-heading-m);
    line-height: var(--lineheight-m);
  }

  h4, .h4 {
    font-size: var(--fontsize-heading-s);
    line-height: var(--lineheight-m);
  }

  h5, .h5 {
    font-size: var(--fontsize-heading-xs);
    line-height: var(--lineheight-m);
  }
}
