.myhki-hero {
  line-height: 0;
  background-position: right !important;
  background-size: cover !important;
  background: #D0E6F7;
  height: 550px;
  min-height: 1px;
  padding: 0 0px;
  position: relative;

  @include breakpoint(small only) {
    --min-height: 300px;
    display: none;
  }

  &__wrapper {
    --position: absolute;
    --display: flex;
    --flex-wrap: wrap;
    --flex-direction: column;
    --justify-content: flex-end;
    height: 100%;
    --padding: 0 30px 54px;

    @include breakpoint(small only) {
      --padding: 0 0 24px;
    }
  }

  &__subtitle {
    --width: 35%;
    position: absolute;
    font-size: 20px;
    top: 200px;
    left: 8rem;
    line-height: 1.5;
    width: 400px;
    @include breakpoint(small only) {
      position: relative;
      height: 230px;
      top: 50px;
      margin: 16px;
      left: 0;
    }
    @include breakpoint(medium only) {
      position: relative;
      height: 230px;
      top: 50px;
      margin: 16px;
      left: 0;
      width: 90%;
    }
  }

  &__title {
    position: absolute;
    top: 50px;
    left: 8rem;

    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.0;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 0 0;
    width: 50%;
    z-index: 1;
    @include breakpoint(large up) {
      font-size: 50px;
    }
    @include breakpoint(medium only) {
      position: relative;
      left: 0;
      margin: 16px;
      width: 90%;
    }
    @include breakpoint(small only) {
      position: relative;
      left: 0;
      margin: 16px;
    }
  }

  &--copyrights {
    margin: 30px 0;
    text-align: right;

    &-credits {
      font-size: 0.6875rem;
	    font-weight: 500;
  	  color: $hel-medium-gray;
    }
  }
}

.myhki-diagonal-koro {
  clip-path: url(#koros);
  height: 550px;
}

.hero-large {
  display: none;
  @include breakpoint(large up) {
    display: block;
  }
}

.hero-small {
  display: none;
  @include breakpoint(medium down) {
    display: block;
  }
}

.hero-small-koro {
  display: none;
  @include breakpoint(medium down) {
    display: block;
    padding-top: 40px;
  }
}


