.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: underline;
  width: 100%; 
}

.link:before {
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.link svg {
  transition: transform .2s linear;
}

.link:hover {
  text-decoration: none;
}

.internal:hover svg {
  transform: translateX(8px);
}

.external:hover svg {
  transform: translate(4px, -4px);
}
