.edit-profile-form {
  h2 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: -1px;
    color: #ffffff;
    margin: 0 0 44px;
  }

  &__buttons {
    text-align: center;
    @include breakpoint(large up) {
      text-align: left;
    }
  }
}

